<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Petrovski\CmsPageViews\Api\Data\PageInterface" type="Petrovski\CmsPageViews\Model\Page" />
    <type name="Magento\Cms\Controller\Page\View">
        <plugin name="frontend_views" type="\Petrovski\CmsPageViews\Plugin\Frontend" sortOrder="1" />
    </type>
    <type name="Magento\Cms\Controller\Adminhtml\Page\Edit">
        <plugin name="backend_views" type="\Petrovski\CmsPageViews\Plugin\Backend" sortOrder="1" />
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="cms_count_listing_data_source" xsi:type="string">Petrovski\CmsPageViews\Model\ResourceModel\Views\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Petrovski\CmsPageViews\Model\ResourceModel\Views\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">custom_cms_page_counter</argument>
            <argument name="resourceModel" xsi:type="string">Petrovski\CmsPageViews\Model\ResourceModel\Views</argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="Petrovski\CmsPageViews\Api\Data\ViewsInterface" xsi:type="string">Petrovski\CmsPageViews\Api\ViewsRepositoryInterface</item>
            </argument>
        </arguments>
    </type>
</config>
